.Home {
    min-height:90vh;
    width: 100%;

    .w {
        // justify-content: space-between;
        width: 90%;
        height: 100%;

        .s-part {
            height: 100%;
            width: 5em;

            a {
                margin: 10px;
            }
            .s-icon {
                padding: 2px;
                // margin: 5px;
                font-size: 25px;
            }
        }
        .home-cont {
            width: 80%;
            justify-content: space-between;
            flex-direction: row;
            .m-part {
                height: 100%;
                width: 45%;
                h1,
                h2,
                h3,
                h5 {
                    letter-spacing: 1.2px;
                }
                h2 {
                    font-size: 20px;
                    margin: 10px 0;
                }
                h1,
                h3 {
                    margin: 10px 0;
                }
    
                .btn-c {
                    margin: 50px 0;
                    padding: 10px 20px;
                    font-size: 21px;
                    background-color: #f1c40f;
                    cursor: pointer;
                    border-radius: 10px;
                    // transition: all ease-in .3s;
    
                    // &:hover{
                    //     background-color: #fff;
                    //     color: #F1C40F;
                    // }
                    &:active {
                        -webkit-box-shadow: 0px 0px 11px 0px rgba(241, 196, 15, 1);
                        -moz-box-shadow: 0px 0px 11px 0px rgba(241, 196, 15, 1);
                        box-shadow: 0px 0px 11px 0px rgba(241, 196, 15, 1);
                        transform: skewX(5deg);
                    }
                }
            }
            .p-part {
                height: 100%;
                width: 45%;
    
                .wrapper {
                    position: relative;
    
                    .f-1 {
                        animation: Frame1Rotate linear infinite 8s;
                    }
                    .f-2 {
                        animation: Frame2Rotate linear infinite 10s;
                    }
    
                    @keyframes Frame1Rotate {
                        0% {
                            transform: rotate(0deg);
                        }
                        100% {
                            transform: rotate(350deg);
                        }
                    }
                    @keyframes Frame2Rotate {
                        0% {
                            transform: rotate(350deg);
                        }
                        100% {
                            transform: rotate(0deg);
                        }
                    }
                    .frame {
                        position: absolute;
                        bottom: -104px;
                        right: -10em;
                        border-radius: 44% 56% 47% 53% / 55% 52% 48% 45%;
                        width: 15em;
                        aspect-ratio: 1/1;
                    }
                }
                .img {
                    position: absolute;
                    bottom: -50px;
                    right: -12em;
                    overflow: hidden;
                    object-fit: cover;
    
                    img {
                        width: 20em;
                        z-index: 999;
                        aspect-ratio: 1/1;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width:471px) and (max-width: 700px) {
    .w {
        .home-cont {
            flex-direction: column-reverse !important;
            .m-part{
                width: 100% !important;
            }

            .p-part{
                .wrapper{
                    width: 100% !important;
                    height: 60vh !important;

                    .frame{
                        bottom: 15px !important;
                        right: 0em !important;
                    }
                    .img{
                        bottom: 66px !important;
                        right: -27px !important;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width:401px) and (max-width: 470px) {
    .w {
        .home-cont {
            flex-direction: column-reverse !important;
            .m-part{
                width: 100% !important;
            }

            .p-part{
                .wrapper{
                    width: 100% !important;
                    height: 60vh !important;

                    .frame{
                        bottom: 15px !important;
                        right: -2em !important;
                    }
                    .img{
                        bottom: 66px !important;
                        right: -55px !important;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 400px) {
    .w {
        .home-cont {
            flex-direction: column-reverse !important;
            .m-part{
                width: 100% !important;
            }

            .p-part{
                .wrapper{
                    width: 100% !important;
                    height: 60vh !important;

                    .frame{
                        bottom: 15px !important;
                        right: -4em !important;
                    }
                    .img{
                        bottom: 66px !important;
                        right: -80px !important;
                    }
                }
            }
        }
    }
}
